<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<!-- Generic controllers used across all tournaments --> 
<!-- 	<servlet>
		<servlet-name>ballsDistro</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.BallsDistributionServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ballsDistro</servlet-name>
    	<url-pattern>/ballsDistro</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<servlet-name>ballsTurn</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.BallsTurnServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ballsTurn</servlet-name>
    	<url-pattern>/ballsTurn</url-pattern>
  	</servlet-mapping>
 --> 
	<servlet>
  		<servlet-name>paypal</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.PayPalPaymentTransferServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>paypal</servlet-name>
    	<url-pattern>/paypal</url-pattern>
  	</servlet-mapping>  
   <!-- Singles tournament configuration -->

	<!-- <servlet>
    	<servlet-name>singlesRegistrationRequest</servlet-name>
      	<jsp-file>/jsp/singles/registerPlayerForSingles.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>singlesRegistrationRequest</servlet-name>
    	<url-pattern>/registerForSingles</url-pattern>
  	</servlet-mapping>  
	<servlet>
  		<servlet-name>processRegistrationForSingles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.RegisterPlayerForSingles</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>processRegistrationForSingles</servlet-name>
    	<url-pattern>/processRegistrationForSingles</url-pattern>
  	</servlet-mapping> 
  	<servlet>
  		<servlet-name>retrievePlayersList</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.ListRegisteredPlayersListForSingles</servlet-class>
  	</servlet>
  	<servlet-mapping>
		<servlet-name>retrievePlayersList</servlet-name>
    	<url-pattern>/playersList</url-pattern>
  	</servlet-mapping> 
 	<servlet>
  		<servlet-name>singlesGroupRoundDetails</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.SinglesGroupRoundDetailsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>singlesGroupRoundDetails</servlet-name>
    	<url-pattern>/singlesGroupInfo</url-pattern>
  	</servlet-mapping>
  
 	<servlet>
  		<servlet-name>playersStanding</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.PlayersStandingServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>playersStanding</servlet-name>
    	<url-pattern>/playersStanding</url-pattern>
  	</servlet-mapping>
 	<servlet>
  		<servlet-name>reportScoreForSingles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.ReportScoreServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>reportScoreForSingles</servlet-name>
    	<url-pattern>/reportScore</url-pattern>
  	</servlet-mapping> 
  	
  	<servlet>
  		<servlet-name>singlesKO</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.KOMajorForSinglesServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>singlesKO</servlet-name>
    	<url-pattern>/singlesKO</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>singlesKO</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.KODetailsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>singlesKO</servlet-name>
    	<url-pattern>/singlesKO</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>reportScoreForKO</servlet-name>
      	<servlet-class>com.beaverpurtennis.servlet.singles.ReportScoreForKO</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>reportScoreForKO</servlet-name>
      	<url-pattern>/reportScoreForKO</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>koMajorForSingles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.KOMajorForSinglesServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>koMajorForSingles</servlet-name>
    	<url-pattern>/koMajorForSingles</url-pattern>
  	</servlet-mapping>
  
 	<servlet>
  		<servlet-name>koMinorForSingles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.singles.KOMinorForSinglesServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	<servlet-name>koMinorForSingles</servlet-name>
    	<url-pattern>/koMinorForSingles</url-pattern>
  	</servlet-mapping>
  	
	<servlet>
    	<servlet-name>reportScoreForKO</servlet-name>
      	<servlet-class>com.beaverpurtennis.servlet.singles.ReportScoreForKOServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>reportScoreForKO</servlet-name>
      	<url-pattern>/reportScoreForKO</url-pattern>
  	</servlet-mapping>
-->
  <!-- End of Singles tournament configuration -->
 
  <!-- Below section would have list of doubles tournament controllers -->
	<!-- 
	
	<servlet>
    	<servlet-name>doublesRegistration</servlet-name>
      	<servlet-class>com.beaverpurtennis.servlet.doubles.DoublesRegistrationServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>doublesRegistration</servlet-name>
      	<url-pattern>/doublesRegistration</url-pattern>
  	</servlet-mapping>
 
     <servlet>
  		<servlet-name>partnerForDoubles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.RequestForDoublesPartner</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>partnerForDoubles</servlet-name>
    	<url-pattern>/requestForPartner</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<servlet-name>listOfPlayersRequestedForPartner</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.ListOfRequestForDoublesPartner</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>listOfPlayersRequestedForPartner</servlet-name>
  		<url-pattern>/partnerForDoubles</url-pattern>
	</servlet-mapping>
 	<servlet>
  		<servlet-name>getRegisteredTeamsList</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.RegisteredTeamsListForDoubles</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>getRegisteredTeamsList</servlet-name>
    	<url-pattern>/getRegisteredTeamsList</url-pattern>
  	</servlet-mapping>
  	 -->
 	<servlet>
  		<servlet-name>doublesGroupRoundDetails</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.DoublesGroupRoundDetailsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>doublesGroupRoundDetails</servlet-name>
    	<url-pattern>/doublesGroupRound</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>doublesStandings</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.DoublesStandingsServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>doublesStandings</servlet-name>
    	<url-pattern>/doublesStandings</url-pattern>
  	</servlet-mapping>
  
<!--    	<servlet>
  		<servlet-name>reportScoreForDoubles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.ReportScoreForDoubles</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>reportScoreForDoubles</servlet-name>
    	<url-pattern>/reportScoreForDoubles</url-pattern>
  	</servlet-mapping>
 --> 
  	<servlet>
  		<servlet-name>koRoundForDoubles</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.doubles.KORoundForDoubles</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>koRoundForDoubles</servlet-name>
    	<url-pattern>/koRoundForDoubles</url-pattern>
  	</servlet-mapping>
 
	<servlet>
    	<servlet-name>reportScoreForDoublesKO</servlet-name>
      	<servlet-class>com.beaverpurtennis.servlet.doubles.ReportScoreForDoublesKO</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>reportScoreForDoublesKO</servlet-name>
      	<url-pattern>/reportScoreForDoublesKO</url-pattern>
  	</servlet-mapping>

  <!-- End of doubles tournament controllers -->

  <!-- Team Tennis tournament related controllers -->
<!-- 
	<servlet>
  		<servlet-name>teamTennisRegistration</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.teamtennis.TeamTennisRegistrationServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>teamTennisRegistration</servlet-name>
    	<url-pattern>/teamTennisRegistration</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<servlet-name>getRegisteredTeamsList</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.teamtennis.RegisteredTeamsListForTeamTennis</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>getRegisteredTeamsList</servlet-name>
    	<url-pattern>/getRegisteredTeamsList</url-pattern>
  	</servlet-mapping>
 
  	<servlet>
  		<servlet-name>teamTennisGroupRoundInfo</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.teamtennis.TeamTennisGroupInfoServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>teamTennisGroupRoundInfo</servlet-name>
    	<url-pattern>/teamTennisGroupRoundInfo</url-pattern>
  	</servlet-mapping>
 	<servlet>
  		<servlet-name>reportScoreForTeamTennis</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.teamtennis.ReportScoreForTeamTennisServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>reportScoreForTeamTennis</servlet-name>
    	<url-pattern>/reportScoreForTeamTennis</url-pattern>
  	</servlet-mapping> 
 
	<servlet>
  		<servlet-name>teamTennisStanding</servlet-name>
    	<servlet-class>com.beaverpurtennis.servlet.teamtennis.TeamTennisStandingServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>teamTennisStanding</servlet-name>
    	<url-pattern>/teamTennisStanding</url-pattern>
  	</servlet-mapping>
 -->
  <!-- End of team tennis controllers -->
  <!-- Default page to serve -->
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
</web-app>
